<header>
  <div class="row header-title">
    <div class="small-12 large-12 column">
        <h1>Revolution News Network</h1>
    </div>
  </div>
</header>
<main>
  <div class="container">
    <div class="row">
      <div class="small-12 large-4 columns">
        <h2>Inner</h2>
        <div><a href="#">Testing the columns</a></div>
      </div>
      <div class="small-12 large-4 columns">
        <h2>Miscellaneous</h2>
        <div><a href="#">Testing the columns</a></div>
      </div>
      <div class="small-12 large-4 columns">
        <h2>Outer</h2>
        <div><a href="#">Testing the columns</a></div>
      </div>
    </div>
  </div>
</main>